---
layout: default
title: Dan Keenan
generator: pagination
pagination:
    max_per_page: 99
    provider: data.pages
use:
    - pages
---
{% for item in page.pagination.items %}
    <article id="{{ item|slugify }}">
        <header>
            <h2><a href="#{{ item|slugify }}">{{ item.title }}</a></h2>
        </header>
        <div>
            {{ item.blocks.content|raw }}
        </div>
    </article>
{% endfor %}
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav>
        {% if page.pagination.previous_page %}<a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Previous</a>{% endif %}<br />
        {% if page.pagination.next_page %}<a href="{{ site.url }}{{ page.pagination.next_page.url }}">Next</a>{% endif %}<br />
    </nav>
{% endif %}
